*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#task-list li{
    list-style-type: none;
    border: solid rgb(123, 196, 220) 2px;
    margin: 0.5rem;
    text-align: center;
    padding: 0.5rem;
    background-color: lightblue;
    width: 50%;
    display: inline;
}

form{
    margin: 1rem;
    display: flex;
    flex-flow: row;
    justify-content: center;
}

form input[type=text]{
    width: 40%;
}

form input{
    /* width: 100%; */
    padding: 1rem 1rem;
}


