* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1{
    color: rebeccapurple;
    background-color: yellow;
    padding: 2rem;
    margin: 1rem;    
}


ul{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    background-color: red;
    color: rebeccapurple;
    
}
