<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cat API</title>
    <link rel="stylesheet" href="style.css">
    
</head>
<body>

    <h1 id="loading">WAIT ITS LOADING...</h1>
<!-- Demo Template -->
    <!-- <div class="cat-card">
        <div class="head-container">
            <h2>Breed</h2>
            <button class="remove-btn">x</button>
        </div>
        <img src="https://cdn2.thecatapi.com/images/OOD3VXAQn.jpg" alt="">
        <h3>Life Span</h3>
    </div> -->

    <script src="script.js" ></script>
</body>
</html>